# ***LIBRO CON DATOS BÁSICOS***

## PRIMER PROGRAMA

In [39]:
# Ejemplo de imprimir texto:
print("Hola mundo")

Hola mundo

## SEGUNDO PROGRAMA

In [83]:
# Ejemplo operaciones simples:
x = 3
y = 4
z = x*y #Siempre se debe definir todas las variables antes de hacer una operacion
print("El resultado de multiplicar x*y es: ", z)

El resultado de multiplicar x*y es:  12

## TERCER PROGRAMA

In [84]:
# Ejemplo llamar librerías:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## CUARTO PROGRAMA

In [85]:
# Ejemplo script con if-else:

i = 5
x = 2*i
if x <= 10:
    print (x)
else:
    print ("el valor de y es: " , y)

print ("Fin")

10
Fin

## QUINTO PROGRAMA

In [86]:
# ejemplo de // para división exacta: 
v = 3//2
print("el resultado de la divisón entera es: ", v)
# ejemplo de / para división normal:
w = 3/2
print("el resultado de la divisón normal es: ", w)

el resultado de la divisón entera es:  1
el resultado de la divisón normal es:  1.5

## SEXTO PROGRAMA

In [87]:
# Logaritmo necesita llamar a la librería mat y nombrarla para luego poder usarlo

import math as mt

a = 11
b = 5

print("log(a)=", mt.log(a, 10)) # Al utilizar comandos de libreria debe ponerse nombre.comando, en este ejemplo: mt.log

log(a)= 1.041392685158225

## SEPTIMO PROGRAMA

In [88]:
# Asignar objeto de tipo texto a una variable:
A = "No somos números somos texto:"
B = "1" # B contiene el texto 1, no el número 1
C = "2.5" # C contiene el texto 2.5, no el número 2.5

print(A, "yo(B)soy el texto:", B+",", "y yo (C) soy el texto:",C)

No somos números somos texto: yo(B)soy el texto: 1, y yo (C) soy el texto: 2.5

## OCTAVO PROGRAMA

In [68]:
# Ver un tipo de variable

B = "1" # B contiene el texto 1, no el número 1
C = "2.5" # C contiene el texto 2.5, no el número 2.5

print(type(A)) # se pone print para que se imprima, si no se pusiera solo se ejecutara (type(B))
type(B)

<class 'str'>

str

## NOVENO PROGRAMA

In [67]:
# Poner comillas en un texto
print('Este es un texto "especial"')# se usan comillas simples

Este es un texto "especial"

## DECIMO PROGRAMA

In [78]:
# Cambiar tipo de variable
A = "-1"
B = "1" # B contiene el texto 1, no el número 1
C = "2.5" # C contiene el texto -2.5, no el número 2.5
D = int(B) # int identifica un valor entero
E = float(C) # float identifica reales
F = int(A)
print((D+E)*E)
print(F+D)

8.75
0

## UNDECIMO PROGRAMA: <br> *ALGUNAS FUNCIONES PRECARGADAS*

In [79]:
# Valor absoluto:
abs(-100)

100

In [80]:
# potenciación, ejemplo 10^3:
pow(10,3)

1000

In [82]:
# Redondear un numero, ejemplo redondear 3,14159 al cuarto decimal
round(3.14159, 4) # los decimales se escriben con punto no con coma

3.1416

In [112]:
# Longitud de un texto:
Nombre = "Sebastian Neto"
len(Nombre)# len toma en cuenta los espacios

14

In [146]:
seq_corta = "ATAGCCATGATCAATGA"

In [132]:
# Poner texto con letra inicial capital
seq_corta.capitalize()

'Atagccatgatcaatga'

In [133]:
# Poner texto en minusculas
seq_corta.casefold()

'atagccatgatcaatga'

In [142]:
# Poner texto en mayusculas
seq_corta.upper()

'ATAGCCATGATCAATGA'

In [149]:
# Reemplazar caracter
seq_corta.replace("A","T")

'TTTGCCTTGTTCTTTGT'

In [156]:
# Buscar la posición de un caracter en un texto con la función find
k = seq_corta.find("T") # Python inicia a contar en 0 (la primera posición en un texto es la posición 0)
print("la posición en la que usted puede encontrar la Timina en la cadena seq_corta es: ", k)

la posición en la que usted puede encontrar la Timina en la cadena seq_corta es:  1

# Programa para poner en práctica lo aprendido:

In [154]:
print("ingresa tu número de celular:")
x = input()

if len(x) == 10 and x.find("0") == 0 and x.find("9") == 1:
    print("...")
else:
    print("ingresaste un número incorrecto, te quedan 2 intentos.")
    print("ingresa tu número de celular:")
    x = input()
    
if len(x) == 10 and x.find("0") == 0 and x.find("9") == 1:
    print("...")
else:
    print("ingresaste un número incorrecto, te queda 1 intento.")
    print("ingresa tu número de celular:")
    x = input()
    
if len(x) == 10 and x.find("0") == 0 and x.find("9") == 1:
    print("Tu número de celular es: ", x)
else:
    print("Error")

print ("Fin de la ejecución, aplasta enter para salir")
input()

ingresa tu número de celular
0882546789
ingresaste un número incorrecto, te quedan 2 intentos.
ingresa tu número de celular
2
ingresaste un número incorrecto, te queda 1 intento.
ingresa tu número de celular
13
Error
Fin de la ejecución, aplasta enter para salir

''